body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd900e8;
  text-align: right;
  border-bottom: 2px solid black;
  padding: 15px 8px;
  margin: -9px;
}

nav .nav-left h1 {
  font-family: fantasy;
  margin: 0;
  font-size: 30px;
  color: black;
  font-weight : 400px;
}

.nav-right{
  display: flex;
  gap: 7px;
}
nav .nav-right a {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bolder;
}

nav .nav-right a:hover {
  text-decoration: underline;
  color: white;
}
